backports.functools-lru-cache==1.5
cycler==0.10.0
enum34==1.1.6
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.22.0
pyparsing==2.2.0
Pypubsub==4.0.0
python-dateutil==2.7.3
pytz==2018.5
scipy==1.1.0
six==1.11.0
subprocess32==3.5.2
typing==3.6.4
